@charset "utf-8";
body {
  overflow-x: hidden;
}
.mobile {
  display: none;
}
.off {
  display: none;
}
.f_l {
  float: left;
}
.f_r {
  float: right;
}
.mar-lef-0 {
  margin-left: 0;
}
.mar-rig-0 {
  margin-right: 0;
}
.p_0 {
  padding: 0;
}
.pad-lef-0 {
  padding-left: 0;
}
.pad-rig-0 {
  padding-right: 0px;
}
.pad-rig-0i {
  padding-right: 0!important;
}
.m_0 {
  margin: 0;
}
.wh100 {
  width: 100%;
  height: 100%;
}
.m12px {
  min-width: 1200px;
}
.font {
  font-family: "Microsoft YaHei";
}
.f12 {
  font-family: "Microsoft YaHei";
  font-size: 12px;
}
.f14 {
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
.f16 {
  font-family: "Microsoft YaHei";
  font-size: 16px;
}
.f18 {
  font-family: "Microsoft YaHei";
  font-size: 18px;
}
.f20 {
  font-family: "Microsoft YaHei";
  font-size: 20px;
}
.f24 {
  font-family: "Microsoft YaHei";
  font-size: 24px;
}
.hover {
  background: #cccccc;
}
.donghua-06s {
  transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.donghua-03s {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.img-box img {
  transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
.donghua-img-big:hover {
  transform: scale(1.5);
}
.f18_m {
  font-family: "Microsoft YaHei";
  font-size: 0.24rem;
}
.f20_m {
  font-family: "Microsoft YaHei";
  font-size: 0.26666667rem;
}
.f22_m {
  font-family: "Microsoft YaHei";
  font-size: 0.29333333rem;
}
.f24_m {
  font-family: "Microsoft YaHei";
  font-size: 0.32rem;
}
.f28_m {
  font-family: "Microsoft YaHei";
  font-size: 0.37333333rem;
}
.f30_m {
  font-family: "Microsoft YaHei";
  font-size: 0.4rem;
}
.f32_m {
  font-family: "Microsoft YaHei";
  font-size: 0.42666667rem;
}
.word_slh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bg_red {
  background-color: red;
}
.no_backImgi {
  background-image: none!important;
}
.word_line2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.btn-more {
  display: inline-block;
  padding: 10px 40px;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: #fff;
  background-color: red;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.btn-more:hover {
  background-color: darkred;
}
.img-box {
  overflow: hidden;
}
header {
  position: relative;
  background-color: #8f171a;
}
header .welcome_words,
header .btn_list {
  padding-top: 30px;
  padding-bottom: 5px;
}
header a {
  color: #fff;
}
header .welcome_words {
  display: inline-block;
  width: 255px;
}
header .btn_list {
  display: inline-block;
  float: right;
}
header .btn_list .btn_login,
header .btn_list .btn_register {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 0 15px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
header .btn_list .time {
  margin-right: 40px;
}
header .btn_list .btn_login:hover,
header .btn_list .btn_register:hover {
  background-color: #fff;
  color: #e40209;
}
header .btn_list .btn_register {
  margin-right: -15px;
}
header .btn_list .line {
  position: relative;
  display: inline-block;
  height: 15px;
  top: 3px;
  width: 1px;
  background-color: #fff;
}
header .con_2 {
  color: #fff;
}
header .con_2 .link-list {
  position: relative;
  z-index: 3;
}
header .con_2 .m-r-9 {
  margin-right: 90px;
}
header .con_2 .m-l-9 {
  margin-left: 110px;
}
header .con_2 .btn_link {
  display: inline-block;
  line-height: 3;
  padding-bottom: 10px;
  font-family: "Microsoft YaHei";
  font-size: 18px;
}
header .con_2 .list_lef .nav,
header .con_2 .list_rig .nav {
  display: inline-block;
  width: max-content;
}
header .con_2 .list_lef .nav .btn-list,
header .con_2 .list_rig .nav .btn-list {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
header .con_2 .list_lef .nav .btn-list .line-top,
header .con_2 .list_rig .nav .btn-list .line-top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 3px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
header .con_2 .list_lef .nav .btn-list .btn_link,
header .con_2 .list_rig .nav .btn-list .btn_link {
  padding: 0px;
}
header .con_2 .list_lef .nav .btn-list .list-child,
header .con_2 .list_rig .nav .btn-list .list-child {
  position: absolute;
  width: 120px;
  left: 0;
  top: 60px;
  padding-top: 10px;
  background-color: #8f171a;
  display: none;
}
@media screen\0  {
  header .con_2 .list_lef .nav .btn-list .list-child,
  header .con_2 .list_rig .nav .btn-list .list-child {
    transition: all 0s;
  }
}
header .con_2 .list_lef .nav .btn-list .list-child li,
header .con_2 .list_rig .nav .btn-list .list-child li {
  display: block;
  text-align: center;
  border-bottom: 1px solid #a64b4e;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  padding: 0;
  margin: 0;
}
header .con_2 .list_lef .nav .btn-list .list-child li a,
header .con_2 .list_rig .nav .btn-list .list-child li a {
  display: block;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #fff;
  line-height: 2.5;
}
header .con_2 .list_lef .nav .btn-list .list-child li a:hover,
header .con_2 .list_rig .nav .btn-list .list-child li a:hover {
  font-weight: bold;
}
header .con_2 .list_lef .nav .btn-list .list-child li:hover,
header .con_2 .list_rig .nav .btn-list .list-child li:hover {
  background-color: #7a090c;
}
header .con_2 .list_lef .nav .btn-list .list-child li:first-child,
header .con_2 .list_rig .nav .btn-list .list-child li:first-child {
  margin-left: 0px;
}
header .con_2 .list_lef .nav .btn-list .list-child li:first-child:after,
header .con_2 .list_rig .nav .btn-list .list-child li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 7px 7px 0;
  border-style: solid;
  border-color: #7a090c transparent transparent;
  /*黄 透明 透明 */
  position: absolute;
  top: 0px;
  left: 45%;
}
header .con_2 .list_lef .nav .btn-list:hover,
header .con_2 .list_rig .nav .btn-list:hover {
  background-color: #7a090c;
}
header .con_2 .list_lef .nav .on .line-top,
header .con_2 .list_rig .nav .on .line-top {
  opacity: 1;
}
header .con_2 .list_lef .nav .on .list-child,
header .con_2 .list_rig .nav .on .list-child {
  display: block;
}
header .con_2 .list_lef {
  text-align: left;
}
header .con_2 .list_lef .nav .btn-list {
  margin-right: 60px;
}
header .con_2 .list_lef .nav .btn-list:first-child {
  margin-left: -20px;
}
header .con_2 .list_lef .nav .btn-list:first-child .list-child {
  left: -20px;
}
header .con_2 .list_rig {
  text-align: right;
}
header .con_2 .list_rig .nav .btn-list {
  margin-left: 60px;
}
header .con_2 .list_rig .nav .btn-list:last-child {
  margin-right: -20px;
}
header .con_2 .list_rig .nav .btn-list:last-child .list-child {
  right: -20px;
}
header .con_2 .line {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background: #a64b4e;
  z-index: 2;
}
header .logo-box {
  background-color: #8f171a;
  position: absolute;
  padding: 10px 25px 15px 25px;
  width: 315px;
  border-radius: 15px;
  top: 0;
  left: 38%;
  z-index: 2;
}
header .logo-box .logo {
  position: relative;
  height: 124px;
  width: 124px;
  z-index: 2;
}
header .logo-box .line-lef,
header .logo-box .line-rig {
  position: absolute;
  width: 30%;
  height: 1px;
  top: 30.5%;
  background-color: #a64b4e;
}
header .logo-box .line-lef {
  left: 0px;
}
header .logo-box .line-rig {
  right: 0px;
}
header .logo-box .p1,
header .logo-box .p2 {
  color: #fff;
  font-weight: bold;
  width: 282px;
}
header .logo-box .p1 {
  font-family: "Microsoft YaHei";
  font-size: 18px;
}
header .logo-box .p2 {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  background-image: url("../img/logo-words.png");
  height: 35px;
}
section .banner .swiper-slide {
  position: relative;
  overflow: hidden;
}
section .banner .swiper-slide .abs {
  position: absolute;
}
@keyframes container {
  0% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    /*贝塞尔曲线 ： X1 Y1 X2 Y2*/
    transform: translate3d(0, 0, 0);
    /*设置只在Z轴上移动*/
  }
  20% {
    transition-timing-function: cubic-bezier(0.755, 0.5, 0.855, 0.06);
    transform: translate3d(0, -10px, 0);
  }
  40% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -20px, 0);
  }
  60% {
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0);
  }
  80% {
    transform: translate3d(0, 0px, 0);
  }
}
section .banner .swiper-slide .bak {
  height: 682px;
  width: 100%;
}
section .banner .swiper-slide .img-fo {
  top: 35%;
  left: 35%;
  animation: container 10s linear infinite;
  /*动画的名称*/
  transform-origin: center bottom;
  /*设置动画旋转元素的基点为：居中靠下*/
  cursor: pointer;
  z-index: 2;
}
section .banner .swiper-slide .img-foguang {
  left: 5%;
  top: -17%;
  transition: 0.5s;
  transform-origin: 611px 550px;
  animation: rotate 80s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
section .banner .swiper-slide .img-fozi {
  top: 20%;
  left: 69%;
}
section .banner .swiper-slide .img-yuan1 {
  position: absolute;
  top: 0;
  left: 0;
}
section .banner .swiper-slide .img-fo2 {
  position: absolute;
  left: 24%;
  width: 50%;
  bottom: 0;
  animation: container 10s linear infinite;
  /*动画的名称*/
  transform-origin: center bottom;
  /*设置动画旋转元素的基点为：居中靠下*/
  cursor: pointer;
}
section .banner .swiper-slide .img-yun2 {
  position: absolute;
  left: 0;
  bottom: 0;
}
section .banner .swiper-slide .img-yun1 {
  position: absolute;
  top: 0;
  left: 0;
}
section .banner .swiper-slide .img-wenzi {
  position: absolute;
  top: 17%;
  width: 15%;
  left: 72%;
}
section .banner .swiper-slide .img-foguang2 {
  left: 19%;
  top: -38%;
  width: 60%;
  transition: 0.5s;
  transform-origin: 50% 50%;
}
section .con_1 {
  background-color: #291517;
}
section .form-box {
  display: inline-block;
  width: max-content;
  background-color: #4a2d2b;
  padding: 20px;
  border-radius: 10px;
}
section .form-box .lab {
  display: block;
}
section .form-box .money,
section .form-box .people,
section .form-box .lab {
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #fff;
  font-weight: normal;
}
section .form-box .money .input,
section .form-box .people .input {
  padding: 0 10px;
  color: #000;
}
section .form-box .money:after {
  content: '\5143';
}
section .form-box .people:after {
  content: '\4eba\6b21';
}
section .btn-list {
  display: inline-block;
  width: max-content;
  vertical-align: top;
  padding-top: 25px;
  padding-left: 40px;
}
section .btn-list .title {
  font-family: "Microsoft YaHei";
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  padding-left: 15px;
}
section .btn-list .nav .btn_link {
  position: relative;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: #fff;
  padding: 5px 50px 5px 40px;
  background-color: #8f161a;
  border-radius: 30px;
  margin-right: 15px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
section .btn-list .nav .btn_link .fa {
  position: absolute;
  right: 20px;
  top: 0;
}
section .btn-list .nav .btn_link:hover {
  color: #e40209;
  background-color: #fff;
}
section .btn-list .nav .btn_link:hover .fa {
  color: #ff6206;
}
section .con_2 {
  background-image: url("../img/con2_background.jpg");
  padding-bottom: 30px;
}
section .con_2 .btn_list {
  text-align-last: justify;
  margin: 60px 0;
}
section .con_2 .btn_list .btn_link {
  display: inline-block;
  width: max-content;
  cursor: pointer;
  padding: 0 9%;
}
section .con_2 .btn_list .btn_link .p {
  text-align: center;
  font-family: "Microsoft YaHei";
  font-size: 24px;
  color: #000;
  padding-top: 17px;
}
section .con_2 .btn_list .btn_link .img1,
section .con_2 .btn_list .btn_link .img2,
section .con_2 .btn_list .btn_link .img3,
section .con_2 .btn_list .btn_link .img4 {
  width: 131px;
  height: 131px;
  background-image: url("../img/imgs-1.png");
  background-repeat: no-repeat;
}
section .con_2 .btn_list .btn_link .img1 {
  background-position-x: -113px;
}
section .con_2 .btn_list .btn_link .img2 {
  background-position-x: -432px;
}
section .con_2 .btn_list .btn_link .img3 {
  background-position-x: -751px;
}
section .con_2 .btn_list .btn_link .img4 {
  background-position-x: -1070px;
}
section .con_2 .btn_list .btn_link:first-child {
  padding-left: 0;
}
section .con_2 .btn_list .btn_link:last-child {
  padding-right: 0;
}
section .con_2 .swiper-img {
  width: 565px;
  padding: 5px;
  border: 1px solid #d6d8d9;
  background: white;
  float: left;
}
section .con_2 .swiper-img .big-img {
  position: relative;
}
section .con_2 .swiper-img .big-img .img-box {
  width: 553px;
  height: 366px;
}
section .con_2 .swiper-img .big-img .img-box img {
  width: 100%;
  height: 100%;
}
section .con_2 .swiper-img .btn-img-list {
  text-align-last: justify;
  padding-top: 5px;
}
section .con_2 .swiper-img .btn-img-list .img-box {
  position: relative;
  display: inline-block;
}
section .con_2 .swiper-img .title {
  position: absolute;
  width: 100%;
  bottom: 0;
  line-height: 3;
  background-color: rgba(66, 66, 66, 0.5);
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: #fff;
  text-align: center;
  text-align-last: center;
}
section .con_2 .list-box {
  width: 600px;
  float: right;
}
section .con_2 .list-box .title {
  line-height: 2.5;
  text-align: center;
  background-color: red;
  color: #fff;
  font-family: "Microsoft YaHei";
  font-size: 24px;
  font-weight: normal;
}
section .con_2 .list-box .word-list {
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: #333333;
  background-color: #fff;
  padding-bottom: 30px;
}
section .con_2 .list-box .word-list .ul {
  height: 430px;
  padding: 20px;
  overflow: auto;
}
section .con_2 .list-box .word-list .ul .list-row {
  text-align-last: justify;
  padding: 10px 0 25px 0;
  border-bottom: 1px dashed #8d8686;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
section .con_2 .list-box .word-list .ul .list-row:hover {
  background-color: #d5d5d5;
}
section .con_2 .list-box .word-list .ul span {
  display: inline-block;
}
section .con_2 .list-box .word-list .ul .left,
section .con_2 .list-box .word-list .ul .middle,
section .con_2 .list-box .word-list .ul .right {
  text-align-last: left;
}
section .con_2 .list-box .word-list .ul .left {
  width: 200px;
}
section .con_2 .list-box .word-list .ul .middle {
  width: 100px;
}
section .con_2 .list-box .word-list .ul .right {
  width: 105px;
}
section .con_2 .list-box .word-list .btn-box {
  text-align: right;
  padding-right: 20px;
}
section .con_3 {
  padding: 105px 0;
  background-image: url("../img/lbn_02.jpg");
}
section .con_3 .content {
  padding: 90px 40px 60px 40px;
  background-color: #fff;
}
section .con_3 .content .left {
  padding-top: 50px;
  width: 660px;
  float: left;
}
section .con_3 .content .left .title {
  padding-bottom: 20px;
}
section .con_3 .content .left .title .sp_1,
section .con_3 .content .left .title .sp_2 {
  overflow: hidden;
  white-space: nowrap;
}
section .con_3 .content .left .title .sp_1 {
  display: inline-block;
  width: 545px;
  font-family: "Microsoft YaHei";
  font-size: 24px;
  color: #e40209;
}
section .con_3 .content .left .title .sp_2 {
  display: inline-block;
  width: 80px;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #e40209;
  float: right;
  line-height: 36px;
}
section .con_3 .content .left .img-box {
  position: relative;
  padding: 10px;
  background-color: #e0e0e0;
}
section .con_3 .content .left .img-box .img-bg {
  position: relative;
  width: 637px;
  height: 448px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}
section .con_3 .content .left .img-box .img-bg .img-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-left: 30px;
  line-height: 2.5;
  background-color: rgba(66, 66, 66, 0.66);
  text-align: left;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #fff;
}
section .con_3 .content .right {
  width: 430px;
  float: right;
}
section .con_3 .content .right .title {
  padding-bottom: 41px;
  font-family: "Microsoft YaHei";
  font-size: 30px;
  color: #e40209;
}
section .con_3 .content .right .title span {
  display: block;
  line-height: 35px;
}
section .con_3 .content .right .word-list {
  padding-bottom: 20px;
}
section .con_3 .content .right .word-list .list-row {
  position: relative;
  top: 0;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 10px 5px 10px;
  background: #ffffff;
  transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
section .con_3 .content .right .word-list .list-row .words {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #2b2b2b;
  line-height: 26px;
}
section .con_3 .content .right .word-list .list-row:first-child {
  padding-top: 0;
}
section .con_3 .content .right .word-list .list-row:hover {
  background: rgba(66, 66, 66, 0.5);
}
section .con_3 .content .right .word-list .list-row:hover .words {
  color: #fff;
}
section .con_3 .content .right .btn-box {
  text-align: right;
}
section .con_4 {
  background-color: #8f161a;
}
section .con_4 .content {
  text-align: center;
}
section .con_4 .content a {
  display: inline-block;
  line-height: 3;
}
section .con_4 .content .words {
  font-family: "Microsoft YaHei";
  font-size: 24px;
  color: #fff;
}
section .con_4 .content .btn-link {
  line-height: normal;
  padding: 6px 30px;
  border-radius: 30px;
  background-color: #fff;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: #2b2b2b;
  margin-right: 30px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
section .con_4 .content .btn-link .icon {
  width: 23px;
  height: 23px;
  margin-left: 15px;
}
section .con_4 .content .btn-link:hover {
  -moz-box-shadow: 0px 0px 3px 2px yellow;
  box-shadow: 0px 0px 3px 2px yellow;
}
section .con_5,
section .con_6 {
  background-color: #f6f6f6;
}
section .con_5 .icon-box,
section .con_6 .icon-box {
  padding-top: 50px;
}
section .con_5 .icon-box img,
section .con_6 .icon-box img {
  width: 260px;
}
section .con_5 .content,
section .con_6 .content {
  height: 610px;
  overflow: hidden;
}
section .con_5 .content .left,
section .con_6 .content .left,
section .con_5 .content .middle,
section .con_6 .content .middle,
section .con_5 .content .right,
section .con_6 .content .right {
  display: inline-block;
  height: 100%;
  margin: unset;
  vertical-align: top;
  max-height: 610px;
  overflow: hidden;
  background-color: #fff;
}
section .con_5 .content .left,
section .con_6 .content .left {
  width: 235px;
  padding-top: 5px;
}
section .con_5 .content .left .option,
section .con_6 .content .left .option {
  width: max-content;
  padding: 15px 30px;
  background-color: #e40209;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: #fff;
}
section .con_5 .content .left .list-word,
section .con_6 .content .left .list-word {
  padding: 20px 35px 20px 0;
}
section .con_5 .content .left .list-word li,
section .con_6 .content .left .list-word li {
  display: inline-block;
  width: 70px;
  overflow: hidden;
  margin: 0 5px;
}
section .con_5 .content .left .list-word li .link,
section .con_6 .content .left .list-word li .link {
  position: relative;
  top: 0;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #000;
  line-height: 26px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
section .con_5 .content .left .list-word li .link:hover,
section .con_6 .content .left .list-word li .link:hover {
  color: #3d3793;
  top: -5px;
}
section .con_5 .content .left .img-box,
section .con_6 .content .left .img-box {
  padding: 50px 0;
}
section .con_5 .content .left .img-box img,
section .con_6 .content .left .img-box img {
  width: 100%;
  height: 100%;
}
section .con_5 .content .middle,
section .con_6 .content .middle {
  position: relative;
  width: 350px;
}
section .con_5 .content .middle .link-list .nav,
section .con_6 .content .middle .link-list .nav {
  padding-left: 20px;
  border-bottom: 2px solid #f6f6f6;
}
section .con_5 .content .middle .link-list .nav .btn_link,
section .con_6 .content .middle .link-list .nav .btn_link {
  line-height: 65px;
  margin-right: 15px;
  padding: 0;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #000;
}
section .con_5 .content .middle .link-list .nav .btn_link:before,
section .con_6 .content .middle .link-list .nav .btn_link:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #555555;
  border-radius: 50%;
  margin: 0 10px;
}
section .con_5 .content .middle .link-list .nav li:hover .btn_link,
section .con_6 .content .middle .link-list .nav li:hover .btn_link {
  color: #e40209;
}
section .con_5 .content .middle .link-list .nav li:hover .btn_link:before,
section .con_6 .content .middle .link-list .nav li:hover .btn_link:before {
  background-color: #e40209;
}
section .con_5 .content .middle .title,
section .con_6 .content .middle .title {
  font-family: "Microsoft YaHei";
  font-size: 24px;
  color: #e40209;
  text-align: center;
  margin: 60px 0 25px 0;
}
section .con_5 .content .middle .word-list,
section .con_6 .content .middle .word-list {
  text-align: center;
}
section .con_5 .content .middle .word-list .btn-link,
section .con_6 .content .middle .word-list .btn-link {
  padding: 3px 10px;
  font-family: "Microsoft YaHei";
  font-size: 12px;
  color: #e40209;
  border-radius: 15px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
section .con_5 .content .middle .word-list .btn-link:hover,
section .con_6 .content .middle .word-list .btn-link:hover {
  background: #e40209;
  color: #fff;
}
section .con_5 .content .right,
section .con_6 .content .right {
  position: relative;
  width: 600px;
  padding-top: 65px;
}
section .con_5 .content .right .link-list .ul_0 .li_0,
section .con_6 .content .right .link-list .ul_0 .li_0 {
  position: relative;
  width: 165px;
  height: 225px;
  margin: 10px 15px;
  margin-bottom: 52px;
  top: 0;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  float: left;
}
section .con_5 .content .right .link-list .ul_0 .li_0 .title,
section .con_6 .content .right .link-list .ul_0 .li_0 .title {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #000;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section .con_5 .content .right .link-list .ul_0 .li_0 .word-list,
section .con_6 .content .right .link-list .ul_0 .li_0 .word-list {
  text-align: center;
  margin: 10px 0;
}
section .con_5 .content .right .link-list .ul_0 .li_0 .word-list .btn-link,
section .con_6 .content .right .link-list .ul_0 .li_0 .word-list .btn-link {
  line-height: 15px;
  padding: 3px 10px;
  font-family: "Microsoft YaHei";
  font-size: 12px;
  color: #e40209;
  border-radius: 15px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
section .con_5 .content .right .link-list .ul_0 .li_0 .word-list .btn-link:hover,
section .con_6 .content .right .link-list .ul_0 .li_0 .word-list .btn-link:hover {
  background: #e40209;
  color: #fff;
}
section .con_5 .content .right .link-list .ul_0 .li_0 .word-list .btn-link:last-child,
section .con_6 .content .right .link-list .ul_0 .li_0 .word-list .btn-link:last-child {
  padding-top: 3px;
}
section .con_5 .content .right .link-list .ul_0 .li_0 .word-list .hover,
section .con_6 .content .right .link-list .ul_0 .li_0 .word-list .hover {
  padding: 3px 10px;
  background: #e40209;
  color: #fff;
}
section .con_5 .content .right .link-list .ul_0 .li_0 .img-box,
section .con_6 .content .right .link-list .ul_0 .li_0 .img-box {
  position: absolute;
  bottom: 0;
  width: 100%;
}
section .con_5 .content .right .link-list .ul_0 .li_0 .img-box img,
section .con_6 .content .right .link-list .ul_0 .li_0 .img-box img {
  cursor: pointer;
}
section .con_6 .img-box:after {
  content: '\67e5\770b\8be6\60c5';
  position: absolute;
  padding: 5px 20px;
  background: #e40209;
  border-radius: 15px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  cursor: pointer;
}
section .con_6 .left .img-box:after {
  content: none;
}
section .con_6 .middle .img-box:after {
  bottom: 5%;
}
section .con_7 {
  padding: 40px 0 170px 0;
  background-color: #f6f6f6;
}
section .con_7 .content {
  border-bottom: 1px solid #878787;
  text-align-last: justify;
  padding-right: 20px;
}
section .con_7 .content .bold {
  display: inline-block;
  vertical-align: bottom;
  font-family: "Microsoft YaHei";
  font-size: 30px;
  color: #e40209;
}
section .con_7 .content .icon {
  position: relative;
  display: inline-block;
  padding: 0 2%;
}
section .con_7 .content .icon img:first-child {
  margin: 0 15px;
}
section .con_7 .content .icon .angle-right {
  position: relative;
  bottom: -30px;
}
section .con_7 .content .i1 {
  padding-left: 0;
}
section .con_7 .content .i4 {
  padding-left: 1%;
  padding-right: 0;
}
section .con_7 .content .i1:after,
section .con_7 .content .i2:after,
section .con_7 .content .i3:after,
section .con_7 .content .i4:after {
  position: absolute;
  text-align-last: left;
  left: 0;
  padding-left: 20px;
  bottom: -50px;
  width: 100%;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: #000;
}
section .con_7 .content .i1:after {
  content: '\0031\002e\6ce8\518c\514d\8d39\8d26\53f7';
}
section .con_7 .content .i2:after {
  content: '\0032\002e\5f00\4ef7\7ade\62cd';
  padding-left: 50px;
}
section .con_7 .content .i3:after {
  content: '\0033\002e\4ea4\6613\4ed8\6b3e';
  padding-left: 50px;
}
section .con_7 .content .i4:after {
  content: '\0034\002e\4e2d\6807\5feb\901f\914d\9001';
  width: 145px;
  bottom: -35px;
}
section .con_8 {
  padding-bottom: 70px;
  background-color: #f6f6f6;
}
section .con_8 .content {
  background-color: #fff;
  padding: 25px 30px;
}
section .con_8 .icon-box .btn-link {
  width: 250px;
  background-color: #f0eded;
  border-radius: 15px;
  text-align: center;
  line-height: 32px;
  color: black;
  margin-top: 5px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
section .con_8 .icon-box .btn-link:hover {
  background-color: #e7e2e2;
}
section .con_9 {
  margin-top: 55px;
  background-color: #f6f6f6;
}
section .con_9 .content {
  text-align-last: justify;
  padding: 0;
}
section .con_9 .btn-link {
  position: relative;
  display: inline-block;
  top: 0;
  width: 315px;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  margin: 0 4%;
}
section .con_9 .btn-link .img-box {
  width: 315px;
  height: 195px;
}
section .con_9 .btn-link .line {
  display: block;
  width: 78px;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #cccccc;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
}
section .con_9 .btn-link .word {
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #2b2b2b;
  text-align: center;
  padding: 0 36px;
  text-align-last: center;
}
section .con_9 .btn-link:first-child {
  margin-left: 0;
}
section .con_9 .btn-link:last-child {
  margin-right: 0;
}
section .con_9 .btn-link:hover {
  top: -5px;
}
section .con_9 .btn-link:hover .line {
  width: 100%;
}
.page_auction {
  background-color: #f3f3f5;
}
.page_auction a {
  color: #010101;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.page_auction .page_con_1 {
  background-color: #fff;
}
.page_auction .page_con_1 .title {
  display: block;
  width: 120px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #90181c;
  float: left;
}
.page_auction .page_con_1 .title .icon-gonggaoxiaolaba {
  font-size: 32px;
}
.page_auction .page_con_1 .title .sp_1 {
  vertical-align: super;
  line-height: 44px;
}
.page_auction .page_con_1 .word-list .link {
  padding: 0 20px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #010101;
  line-height: 48px;
}
.page_auction .page_con_1 .word-list .link:hover {
  color: #90181c;
}
.page_auction .page_con_2 a:link,
.page_auction .page_con_2 a:visited,
.page_auction .page_con_2 a:active {
  color: inherit;
}
.page_auction .page_con_2 a:hover {
  font-weight: bold;
}
.page_auction .page_con_2 .content {
  padding-top: 35px;
}
.page_auction .page_con_2 .content .commodity-box {
  position: relative;
  width: 300px;
  background-color: #fff;
  margin-bottom: 20px;
  float: left;
}
.page_auction .page_con_2 .content .commodity-box .img-box {
  width: 100%;
  height: 300px;
}
.page_auction .page_con_2 .content .commodity-box .img-box img {
  width: 100%;
  height: 100%;
}
.page_auction .page_con_2 .content .commodity-box .title,
.page_auction .page_con_2 .content .commodity-box .words {
  padding-left: 30px;
}
.page_auction .page_con_2 .content .commodity-box .title {
  font-size: 24px;
  color: #000;
  line-height: 3;
  border-top: 1px solid #f3f3f5;
}
.page_auction .page_con_2 .content .commodity-box .words {
  color: #666666;
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
.page_auction .page_con_2 .content .commodity-box .words p.p {
  line-height: 32px;
}
.page_auction .page_con_2 .content .commodity-box .words .sp_1 {
  width: 135px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}
.page_auction .page_con_2 .content .commodity-box .words .times {
  color: #666;
  padding-left: 15px;
}
.page_auction .page_con_2 .content .commodity-box .words .times span {
  color: #90181c;
}
.page_auction .page_con_2 .content .commodity-box .words .sp_2 {
  color: #90181c;
  padding-left: 15px;
}
.page_auction .page_con_2 .content .commodity-box .price {
  color: #90181c;
  padding-bottom: 15px;
  font-family: "Microsoft YaHei";
  font-size: 18px;
  padding-left: 30px;
}
.page_auction .page_con_2 .content .commodity-box .price .fa-30px {
  font-size: 30px;
}
.page_auction .page_con_2 .content .commodity-box .price .btn-link {
  position: absolute;
  right: 18px;
  bottom: 15px;
  padding: 5px 15px;
  background: #90181c;
  color: white;
}
.page_auction .page_con_2 .content .m-0-2 {
  margin: 0 20px;
}
.page_auction .page_con_2 .search-panel,
.page_auction .page_con_2 .market-panel {
  float: left;
}
.page_auction .page_con_2 .search-panel {
  width: 260px;
  padding-right: 20px;
}
.page_auction .page_con_2 .search-panel .title {
  position: relative;
}
.page_auction .page_con_2 .search-panel .title h1 {
  font-family: "Microsoft YaHei";
  font-size: 28px;
  color: #010101;
}
.page_auction .page_con_2 .search-panel .title .icon-sanjiao {
  display: block;
  width: 0;
  height: 0;
  border-width: 11px 11px 0;
  border-style: solid;
  border-color: #000 transparent transparent;
  /*黑 透明 透明 */
  position: absolute;
  right: 10px;
  bottom: 12px;
}
.page_auction .page_con_2 .search-panel .checkbox-list {
  padding-bottom: 10px;
  border-bottom: 1px solid #bfbfbf;
}
.page_auction .page_con_2 .search-panel .checkbox-list .list-row .btn-link {
  display: block;
  max-width: 130px;
  line-height: 48px;
  font-size: 18px;
}
.page_auction .page_con_2 .search-panel .checkbox-list .list-row .btn-link .checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #90181c;
  margin: 0;
}
.page_auction .page_con_2 .search-panel .checkbox-list .list-row .btn-link i.on {
  background-color: #90181c;
}
.page_auction .page_con_2 .search-panel .checkbox-list .list-row .btn-link .span {
  margin-left: 10px;
}
.page_auction .page_con_2 .search-panel .checkbox-list .list-row .long {
  width: 160px;
}
.page_auction .page_con_2 .search-panel .form-dateTime {
  font-size: 0;
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 30px;
}
.page_auction .page_con_2 .search-panel .form-dateTime .to {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: bottom;
  font-size: 22px;
  text-align: center;
  color: white;
  background-color: #90181c;
}
.page_auction .page_con_2 .search-panel .form-dateTime .input {
  display: inline-block;
  width: 43%;
  height: 30px;
  font-size: 14px;
  color: #666666;
  border: 1px solid #90181c;
  padding: 0 5px;
}
.page_auction .page_con_2 .search-panel .form-dateTime .btn_link {
  font-size: 18px;
  color: inherit;
  display: inline-block;
  padding: 3px 45px;
  color: #90181c;
  border: 1px solid #90181c;
  margin-top: 35px;
  float: right;
}
.page_auction .page_con_2 .search-panel .recommend .btn-link {
  display: block;
  margin: 28px 0;
}
.page_auction .page_con_2 .search-panel .recommend .img-box {
  float: left;
  width: 72px;
  height: 72px;
}
.page_auction .page_con_2 .search-panel .recommend .word-list {
  position: relative;
  height: 72px;
  color: #2b2b2b;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  padding-left: 85px;
}
.page_auction .page_con_2 .search-panel .recommend .word-list .p1 {
  line-height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page_auction .page_con_2 .search-panel .recommend .word-list .p2 {
  position: absolute;
  bottom: 0;
  left: 85px;
}
.page_auction .page_con_2 .search-panel .recommend .b-red {
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: #90181c;
  font-weight: bold;
}
.page_auction .page_con_2 .market-panel {
  position: relative;
  width: 940px;
  margin-bottom: 50px;
}
.page_auction .page_con_2 .market-panel .top {
  border-left: 5px solid #90181c;
  padding-left: 20px;
  color: #000;
  letter-spacing: 3px;
  padding-bottom: 5px;
  font-family: "Microsoft YaHei";
  font-size: 18px;
}
.page_auction .page_con_2 .market-panel .top .title {
  padding-bottom: 10px;
}
.page_auction .page_con_2 .market-panel .top .cons {
  color: #90181c;
}
.page_auction .page_con_2 .market-panel .top .cons .word-list {
  display: inline-block;
}
.page_auction .page_con_2 .market-panel .top .cons .word-list .span {
  border: 1px solid #90181c;
  color: #90181c;
  padding: 0px 15px;
  border-radius: 15px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 20px;
}
.page_auction .page_con_2 .market-panel .top .cons .clearCons {
  font-family: "Microsoft YaHei";
  font-size: 16px;
}
.page_auction .page_con_2 .market-panel .top .search-box {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  padding: 12px 55px 12px 0px;
  border: 1px solid #000;
  border-radius: 15px;
}
.page_auction .page_con_2 .market-panel .top .search-box .input {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 10px;
}
.page_auction .page_con_2 .market-panel .top .search-box .iconfont {
  position: absolute;
  font-size: 28px;
  top: 5px;
  right: 12px;
  padding-left: 10px;
  border-left: 1px solid #000;
}
.page_auction .page_con_2 .nav-page-list {
  text-align: right;
}
.page_auction .page_con_2 .nav-page-list a:hover {
  font-weight: normal;
}
.page_auction .page_con_2 .nav-page-list .label {
  font-family: "Microsoft YaHei";
  font-size: 18px;
  color: #000;
  font-weight: normal;
}
.page_auction .page_con_2 .nav-page-list .page-jump {
  font-family: "Microsoft YaHei";
  font-size: 16px;
  width: 80px;
  margin: 0;
  padding: 9px 15px;
  border: 1px solid #90181c;
  background-color: #f3f3f5;
  vertical-align: baseline;
}
.page_auction .page_con_2 .nav-page-list .btn-link {
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #000;
  margin: 0 4px;
  padding: 9px 10px;
  border: 1px solid #90181c;
}
.page_auction .page_con_2 .nav-page-list .prev,
.page_auction .page_con_2 .nav-page-list .next {
  padding: 9px 15px;
}
.page_auction .page_con_2 .nav-page-list .str,
.page_auction .page_con_2 .nav-page-list .end {
  padding: 9px 25px;
}
.page_auction .page_con_2 .big-title {
  font-family: "Microsoft YaHei";
  font-size: 30px;
  letter-spacing: 5px;
  color: #000;
  margin: 80px 0 35px 0px;
}
.page_auction .page_con_2 .rec-historys .commodity-box {
  width: 280px;
  margin-right: 20px;
  margin-bottom: 0px;
}
.page_auction .page_con_2 .rec-historys .commodity-box .words .times,
.page_auction .page_con_2 .rec-historys .commodity-box .words .sp_2 {
  padding-left: 0;
}
.page_auction .page_con_2 .rec-historys .commodity-box .price .btn-link {
  right: 10px;
}
.page_auction .page_con_2 .rec-historys .commodity-box .price a:hover {
  font-weight: normal;
}
.page_auction .page_con_2 .pay-process {
  margin-top: 90px;
  border-bottom: 1px solid #000;
  text-align: center;
  background-color: #fff;
}
.page_auction .page_con_2 .pay-process .box {
  display: inline-block;
  width: 115px;
  padding: 18px 0;
  margin: 0 75px;
}
.page_auction .page_con_2 .pay-process .box .img-box {
  width: 100%;
  height: 65px;
}
.page_auction .page_con_2 .pay-process .box .img-box img {
  margin: auto;
}
.page_auction .page_con_2 .pay-process .box p.p {
  color: #000;
  font-family: "Microsoft YaHei";
  font-size: 24px;
  line-height: 2;
}
.page_auction .page_con_2 .pay-process a:hover {
  font-weight: normal;
}
footer {
  color: #757575;
  /*网页尾部的结束*/
}
footer a {
  transition: all 0.6s;
  -moz-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  font-weight: normal;
}
footer a:hover {
  color: #3d3793;
}
footer a {
  color: #757575;
}
footer .tail {
  width: 100%;
  height: 310px;
  background: #f6f6f6;
  float: left;
}
footer .tail-serve {
  width: 100%;
  height: 230px;
  background: #fff;
}
footer .tail-serve-tal {
  width: 323px;
  height: 132px;
  border-radius: 10px;
  background: #f6f6f6;
  float: left;
  margin: 50px 0 0 0;
}
footer .tal-text {
  font-size: 18px;
  font-family: "微软雅黑";
  float: left;
  margin: 13px 0 0 17px;
}
footer .tal-tal {
  font-size: 30px;
  font-family: "微软雅黑";
  color: #e40209;
  float: left;
  margin: 0 0 0 17px;
}
footer .customer-tal {
  width: 104px;
  height: 32px;
  background: #e40209;
  float: right;
  margin: 3px 58px 0 0;
  border-radius: 4px;
}
footer .customer {
  font-family: "微软雅黑";
  font-size: 16px;
  color: #fff;
  float: left;
  margin: 5px 0 0 20px;
}
footer .guide {
  width: 610px;
  height: 183px;
  float: left;
  margin-left: 131px;
  margin-top: 30px;
}
footer .guide-bg {
  float: left;
  width: 115px;
}
footer .guide-text {
  font-size: 14px;
  font-family: "微软雅黑";
  font-weight: bold;
  padding-bottom: 4px;
}
footer .guide-li {
  padding: 3px 0;
  font-family: "微软雅黑";
  font-size: 12px;
}
footer .sys {
  width: 120px;
  height: 113px;
  float: left;
  margin-top: 30px;
}
footer .sys-img {
  width: 95px;
  height: 95px;
  float: left;
  margin-left: 10px;
}
footer .sys-text {
  font-family: "微软雅黑";
  font-size: 14px;
  float: left;
}
footer .ba {
  text-align: center;
  font-size: 14px;
  font-family: "微软雅黑";
  margin-top: 30px;
}
footer .food-ba {
  width: 1200px;
  height: auto;
  margin: auto;
}
footer .scales {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
#totop {
  width: 52px;
  height: 57px;
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 60%;
  background: #cdcba2;
  border: 1px solid #e2e2e2;
  opacity: 0.35;
  z-index: 100;
  display: none;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
#totop:hover {
  opacity: 1;
}
/*# sourceMappingURL=index.css.map */